.container {
display: flex;
flex-direction: column;
height: 180px;
width: 320px;
gap: 5px;
border: 1px solid #ccc;
border-radius: 10px;
padding: 10px;
background: #ffffff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
transition: transform 0.2s;
    .date {
        font-size: 1.2rem;
    }
    .rating {
        display: flex;
        align-items: center;
        gap: 2px;
    }
    .comment {
        display: flex;
        flex-grow: 1;
        & p {
            align-self: flex-end;
        }
        
    }

}
.container:hover{
    transform: translateY(-5px);
    
}