.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 220px;
}
.unit {
  width: 400px;
  height: 300px;
  margin: 30px;
}

.unit p {
  color: white;
  text-align: center;
  background-color: #6e66ff;
  border-radius: 50px;
  border: 1px solid black;
  padding: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 900px) {
  .content {
    margin-left: 85px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    
  }
}