.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 220px;
}
.unit {
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 900px) {
  .content {
    margin-left: 85px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    
  }
}