:root {
  --primary-color: #3e38b6;
  --secondary-color: #6e66ff;
  --accent-color: #5effb1;
  --neutral-color: #f3f3e6;
}

header {
  height: 4rem;
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.logo {
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row-reverse;
}
.logout {
  cursor: pointer;
}

.nav-full {
  align-items: center;
  height: 100%;
  margin-right: 3rem;
}
.div {
  right: 20px;
}

.div,
.menu {
  position: fixed;
  list-style: none;
  top: 8px;
}

.menu {
  top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  background: var(--primary-color);
  width: 250px;
  height: 350px;
}

.menu-item {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.menu-full {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  position: fixed;
}

.link-full {
  text-decoration: none;
  color: black;
}

@media (min-width: 551px) {
  .nav-mobile {
    display: none;
  }
}

@media (max-width: 550px) {
  .nav-full {
    display: none;
  }
}
