header {
  height: 4rem;
}

nav {
  display: flex;
  flex-direction: row-reverse;
}
.logout {
  cursor: pointer;
}

.nav-full {
  align-items: center;
  height: 100%;
  margin-right: 3rem;
}

.div,
.menu {
  position: fixed;
  right: 50px;
  list-style: none;
}

.menu {
  top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.menu-full {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  position: fixed;
}

.link-full {
  text-decoration: none;
  color: black;
}

@media (min-width: 551px) {
  .nav-mobile {
    display: none;
  }
}

@media (max-width: 550px) {
  .nav-full {
    display: none;
  }
}
