.test {
  margin: 0;
  padding: 0;
}
.header {
  height: 4rem;
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  color: #ffffff;
  font-size: 1.2rem;
}  

.logo {
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}
.title {
  font-size: 1.5rem;
}
nav {
  display: flex;
  flex-direction: row-reverse;
}

.logout {
  cursor: pointer;
  transition: text-decoration 0.5s;
}

.nav-full {
  align-items: center;
  height: 100%;
  margin-right: 3rem;
}
.div {
  right: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0px;
  background: var(--primary-color);
  width: 250px;
  height: 300px;
  position: fixed;
  top: 45px;
  list-style: none;
  padding: 30px;
  z-index: 10;
}

.menu-item {
  width: 100%;
  padding: 1rem;
  text-align: center;
  
}


.link {
  
  color: #ffffff;
  transition: color 0.5s;
  transition: text-decoration 0.5s;
}



.menu-full {
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
}

.link-full {
  /* text-decoration: none; */
  color: #ffffff;
  transition: text-decoration 0.5s;
}

.link-full:hover, .logout:hover {
  text-decoration: underline;
}

.userimg-full{
  border-radius: 50%;
  width: 2.5rem;
}


@media (min-width: 551px) {
  .nav-mobile {
    display: none;
  }
}

@media (max-width: 550px) {
  .nav-full {
    display: none;
  }
}
