* {
  margin: 0;
  padding: 0;
  font-family: FontText;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --primary-color: #3d36be;
  --secondary-color: #6e66ff;
  --accent-color: #5effb1;
  --neutral-color: #f3f3e6;
  --notification-color: #7e8382;
}

body {
  background-color: var(--neutral-color);
  overflow-x: hidden;
  overflow-y: scroll; 

}

@font-face {
  font-family: FontText;
  src: url('./assets/Fonts/FontRegular.ttf');
}
