nav {
    display: flex;
    .menu-full {
        display: flex;
        list-style: none;
        gap: 3rem;
        align-items: center;
        margin-right: 25px;
      }
      .link-full {
        color: #ffffff;
        transition: text-decoration 0.5s;
        font-size: 1.2rem;
        font-weight: bold;
      }
      .userimg-full{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 1px solid white;
      }
  }

@media (max-width: 916px) {
    .nav-full {
      display: none;
    }
  }