.my-adress-h4 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.25rem;
}

.section {
  display: flex;
  justify-content: space-around;
  min-height: 50rem;
  margin: 0 auto;
}

.sectionleft {
  flex: 1;
  max-width: 40%;
  padding: 1rem;
}

.sectionright {
  flex: 1;
  max-width: 60%;
  padding: 1rem;
}

.userdetail {
  background-color: #ffffff;
  padding: 2rem;
  width: 35vw;
  min-width: 20rem;
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
}

.userdetail-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}

.userdetail-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}

.userdetail-header h1 {
  margin-bottom: 1rem;
}

.userdetail-header a {
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.userdetail-header a:hover {
  color: var(--accent-color);
}

.userdetail-body {
  list-style: none;
}

.userdetail-body ul {
  list-style: none;
}

.userdetail-body li {
  font-weight: bold;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.userdetail-body span {
  font-weight: lighter;
  margin-top: 0.5rem;
}

.userdetail-bottom {
  margin-top: 2rem;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-top: 1px solid black;
  text-align: center;
  padding-top: 1.5rem;
}

.userdetail-bottom p {
  color: #ff0000;
  font-weight: bold;
  font-size: 1.25rem;
}

.right-directions,
.right-paymentways,
.right-socials,
.right-notifications,
.right-favorites,
.right-delete {
  background-color: #ffffff;
  padding: 20px;
  width: 70vw;
  min-width: 36rem;
  max-width: 55vw;
  min-height: 6rem;
  margin: 0 auto 20px;
  border-radius: 1rem;
}

.directions-body,
.directions-body,
.paymentways-body,
.notifications-body,
.favorites-body,
.delete-body {
  margin-top: 1rem;
}

.delete-body a {
  color: red;
}

.iconplussvg {
  width: 1.5rem;
  fill: blue;
  margin-right: 0.75rem;
}

.sectionright h4 {
  margin-bottom: 1rem;
}

.sectionright p {
  font-size: 0.95rem;
}

/* no-favorites */
.no-favorites{
  width: 200px;
  height: 200px;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.no-favorites button{
  margin-top: 30px;
  border: 0;
  background: #5448de;
  color: #f8f8f8;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
  width: 10rem;
  text-align: center;
  transition: 200ms;
}
.no-favorites button:hover{
  background: var(--accent-color);
  color: var(--primary-color);
}


@media (max-width: 1200px) {
  .section {
    flex-direction: column;
    width: 95%;
  }

  .sectionleft {
    order: 1;
    min-width: 100%;
  }

  .sectionright {
    order: 2;
    min-width: 100%;
  }

  .userdetail {
    min-width: 100%;
  }

  .right-directions,
  .right-paymentways,
  .right-socials,
  .right-notifications,
  .right-favorites,
  .right-delete {
    min-width: 100%;
  }
}

.BusinessCard{
  max-width: 20px;
}