.global-container{ 
    width: 100%;
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 926px) {
        padding: 1em;
      }
}


.business-info-container{
   
    display: flex;
}

.business-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 0;
      }
    
    .title {
        color: black;
        font-size: 1.4rem;
    }
}

.wrapper {
    
    display: flex;
    .fav {
        align-self: center;
        @media (max-width: 500px) {
            align-self: flex-start;
            padding-top: 30px;
          }
    }
}
.images {
  
    @media (min-width: 910px) {
        display: flex;
        gap: 20px;
    }
    .main-img-container{
        
        width: 100%;
        @media (min-width: 910px) {
            display: flex;
            
            width: 75%;
          }
         .main-img {
            width: 100%;
            display: flex;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .side-images{
        display: none;
        @media (min-width: 910px) {
            display: flex;
            width: 50%;
            
            flex-direction: column;
            gap: 20px;
          }
          :first-child{
            width: 100%;
            border-radius: 10px;
          }
          :last-child{
            width: 100%;
            border-radius: 10px;
          }
    }
}

.services-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    .services{
        
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 1;
        @media (max-width: 940px) {
           flex-direction: row;
           justify-content: center;
           flex-wrap: wrap;;
          }
    
    }
    .form{

        width: 400px;
    }
}











