.txt {
    font-size:medium;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: default;
}

.ig {
    width: 25px;
    height: 25px;
    background-image: url('../../assets/formIcons/ins.png');
    background-size: cover;
    margin-left: 30px;
    cursor: pointer;
}
.google {
    width: 25px;
    height: 25px;
    background-image: url('../../assets/formIcons/google.png');
    background-size: cover;
    cursor: pointer;
}


.log-with {
    margin-right: 20px;
    cursor: default;
}

.ico-div {
    display: flex;
    margin-top: 10px;
}

.btn {
    margin-top: 20px;
    border-radius: 10px;
    height: 25px;
    width: 80px;
        background-color: #3e38b6;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 0px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    margin-right: 40px;
}
.btn:last-child {
    margin-right: 0;
}

.btn:last-child:hover {
    background-color: #06ec5e;
}
.btn:hover {
    background-color: #ff0000;
}

.link-texts {
    margin-top: 20px;
}
.forgot,
.reg-button {
    margin-top: 5px;
    color: #f3f3e6;
    font-size: 14px;
    transition: color 0.3s ease;
}

.forgot:hover,
.reg-button:hover {
    color: #3e38b6;
}

.reg-button {
    width: 160px;
}
.forgot {
    width: 120px;
}

.error-message {
    color: red;
    font-size: small;
    position: absolute;
    margin-top: -30px;
}