.txt {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: default;
}

.ig {
  width: 25px;
  height: 25px;
  background-image: url('../../assets/formIcons/ins.png');
  background-size: cover;
  margin-left: 30px;
  cursor: pointer;
}
.google {
  width: 25px;
  height: 25px;
  background-image: url('../../assets/formIcons/google.png');
  background-size: cover;
  cursor: pointer;
}

.log-with {
  margin-right: 20px;
  cursor: default;
}

.ico-div {
  display: flex;
  margin-top: 10px;
}

.btn {
  margin-top: 20px;
  border-radius: 10px;
  height: 25px;
  width: 80px;
  background-color: #3e38b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 40px;
}
.btn:last-child {
  margin-right: 0;
}

.link-texts {
  flex-direction: column;
  margin-top: 20px;
}

/* .do-not-have-account {
  width: 500px;
  margin: 5px;
} */

.forgot,
.reg-button {
  min-width: 180px;
  margin-top: 10px;
  color: #f3f3e6;
  font-size: 14px;
  transition: color 0.3s ease;
}

.forgot:hover,
.reg-button:hover {
  color: #ffffff;
}

.reg-button {
  width: 160px;
  color: black;
  text-decoration: underline;
}
.forgot {
  width: 120px;
  color: black;
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: small;
  position: absolute;
  margin-top: -30px;
}

.error-login {
  color: red;
  font-size: small;
  position: absolute;
}

.txt {
  color: white;
  letter-spacing: 1px;
}

.log-with {
  color: white;
  letter-spacing: 1px;
}
.btn:hover {
  background-color: #ff0000;
}

.btnSubmit {
  margin-top: 20px;
  border-radius: 10px;
  height: 25px;
  width: 80px;
  background-color: #3e38b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 40px;
}

.btn[type='submit']:hover {
  background-color: #00ff00;
}
