.container{
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.title {
    padding: 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    gap: 15px;
}

.booking-container {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
}
