.div-container-order-filter{
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 768px){ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
