.div-container-order-filter{
  width: 200px;
  padding: 30px;

  .div-order-by{
    margin-left: 5px;

    .div-order-by-ul{
      list-style: none;

      .div-order-by-li{
        cursor: pointer;
      }
    }
  }

  .div-filter-by{
    margin: 15px 0 0 5px;
  }
}