.table-container{
  height: 20em;
  overflow: hidden;
}

.table-head{
  width: auto;
  height: 150px;
  text-align: center;
}

.table-cell{ 
  min-width: 100px;
}

.table-cell p{
  text-align: center;
  color: #000;
  font-size: 15px;
}

.table-cell h1{
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.table-pagination{
  display: flex;
  padding-left: 200px;
}

.div-profile-image{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-delete-disable{
  display: flex;
  justify-content: center;
  margin: 8px;
}

@media (max-width: 900px) {
  .table-pagination{
    padding-left: 0px;
  }
}