.table-container{
  height: 35em;
  overflow: hidden;
}

.table-head{
  width: auto;
  height: 80px;
  text-align: center;
}

.table-cell{ 
  min-width: 100px;
}

.table-cell p{
  text-align: center;
  color: #000;
  font-size: 15px;
  height: 70px;
  width: 75vw;
}
.table-cell h2{
  text-align: center;
  color: #000;
  font-size: 15px;
  height: 70px;
  width: 2svw;
  margin-left: 400px;
}

.table-cell h1{
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.table-pagination{
  display: flex;
  padding-left: 200px;
}

.btn-delete-disable {
  display: flex;
  position: relative;
  align-items: center;
}

.div-profile-image{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 220px;
  width: 90px;
}

@media (max-width: 900px) {
  .table-pagination{
    padding-left: 0px;
  }

  .table-cell p{
    margin-left: 80px;
  }

  .table-head{
    height: 10px;
  }

  .table-container{
    margin-top: 10px;
  }
  .div-profile-image{
    margin-left: 80px;
  }
}