.global {
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  height: fit-content;
  max-height: 41rem;
  background: #ffffff;
  width: 90%;

  @media (max-width: 880px) {
    flex-direction: column;
    height: auto;
  }
  .image {
    object-fit: contain;
    width: 50%;
    border-radius: 10px 0 0 10px;
    @media (max-width: 880px) {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
  .form {
    background-color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    border-radius: 0 10px 10px 0;
    gap: 20px;
    width: 50%;
    @media (max-width: 880px) {
      width: 100%;
      border-radius: 0 0 10px 10px;
    }
    .title {
      font-size: 1.7rem;
      border: 1px solid var(--primary-color);
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      text-align: center;
      background: var(--neutral-color);
    }
    & p {
      flex-grow: 1;
      font-size: 1.3rem;
      border: 1px solid var(--primary-color);
      border-radius: 10px;
      padding: 10px;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--neutral-color);
    }
    .submit {
      background-color: var(--primary-color);
      padding: 15px 25px;
      color: white;
      border-radius: 10px;
      text-align: center;
      font-size: 1.2rem;
      min-width: 125px;
    }
    .submit:disabled {
      background-color: #ccc;
      color: var(--primary-color);
    }
  }
}
