nav {
  display: flex;
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0px;
    background: var(--primary-color);
    min-width: 15rem;
    min-height: 10rem;
    position: fixed;
    top: 45px;
    border-radius: 5%;
    list-style: none;
    padding: 20px;
    z-index: 10;
    font-weight: bold;
    .menu-item {
      width: 100%;
      padding: 1rem;
      text-align: center;
      .link {
        color: #ffffff;
        transition: color 0.5s;
        transition: text-decoration 0.5s;
      }
    }
    .userimg{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid white;
    }
  }
}

@media (min-width: 917px) {
  .nav-mobile {
    display: none;
  }
}
