nav {
  display: flex;
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0px;
    background: var(--primary-color);
    width: 250px;
    height: 300px;
    position: fixed;
    top: 45px;
    list-style: none;
    padding: 30px;
    z-index: 10;
    .menu-item {
      width: 100%;
      padding: 1rem;
      text-align: center;
      .link {
        color: #ffffff;
        transition: color 0.5s;
        transition: text-decoration 0.5s;
      }
    }
  }
}
.userimg-full {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px var(--accent-color);
}

@media (min-width: 917px) {
  .nav-mobile {
    display: none;
  }
}
