.business-info-container {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.business-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  gap: 30px;
  flex-wrap: nowrap;
  flex-direction: column;
  @media (max-width: 435px) {
    padding: 10px;
    gap: 5px;
  }

  .title {
    color: black;
    font-size: 2.3rem;
  }
  .rating-container {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 1.5rem;
  }
}

.wrapper {
  display: flex;
  align-items: flex-start;
  box-shadow: none;
  transition: none;
  z-index: 0;
  .fav {
    box-shadow: none;
  }
  .favorite-button-filled {
    color: var(--primary-color);
    box-shadow: none;
    transition: none;
  }
  .favorite-button {
    box-shadow: none;
    transition: none;
  }
}

.hide {
  display: none;
}
