.table-container{
  height: 50em;
  overflow: hidden;
}

.table-head{
  width: auto;
  height: 150px;
  text-align: center;
}

.table-cell{ 
  min-width: 100px;
}

.table-cell p{
  text-align: center;
  color: #000;
  font-size: 13px;
}

.div-profile-image{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-delete-disable{
  display: flex;
  justify-content: center;
  margin: 8px;
  position: relative;
}

.table-pagination{
  display: flex;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.btn-delete-disable:hover .tooltip-text {
  visibility: visible;
}