.all {
  height: 50rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content {
  display: flex;
  padding: 30px;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: 0;
}

.content-left{
  flex: 1;
  width: 25vw;
  min-width: 20rem;
  min-height: 31rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  max-width: 40rem;
  max-height: 40rem;
  text-align: center;
}

.form{
  justify-content: center; 
}

.content-left img{
  width: 30vw;
  min-width: 20rem;
  max-width: 40rem;
  max-height: 30rem;
  margin: 0 auto;
}

.content-left h2{
  padding-top: 2rem;
  width: 20rem;
  margin: 0 auto
}

.content-right{
  flex: 1;
  width: 40vw;
  min-width: 23rem;
  min-height: 31rem;
  max-width: 40rem;
  max-height: 40rem;
  justify-content: center;
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  font-size: 1.1rem;
  padding-top: 30px;
}

.inputContainer {
  margin: 5px;
}

.form{
  justify-content: center;
}
.inputContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.submit {
  background-color: #6e66ff;
  height: 40px;
  width: 320px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px 5px 15px 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  color:  white;
  font-weight: bold;
}

.submit:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  background-color: #5effb1;
  color: black;
}

@media screen and (max-width: 900px) {
  .all {
    margin-top: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    @media (max-width: 600px) {
      margin-left: 55px;
    }
  }

  .content-left{
    flex: 1;
    width: 60vw;
    min-width: 23rem;
  }

  .content-left img{
    width: 21rem;
  }

  .content-right{
    flex: 1;
    width: 60vw;
    min-width: 23rem;
    justify-content: center;
  }
}
