.div-filter-by{
  position: relative;
}

.filter-by-categories{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}


.div-filter-opened{
  min-height: 100px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: calc(50% - 250px);
  border: solid 2px var(--accent-color);
  border-radius: 10px;
  background-color: #fff;
  background-position: relative;
  z-index: 1;
  

  @media (max-width: 768px){
    position: absolute;
    left: calc(50% - 150px);
  }
}

.div-filter-closed{
  display: none;
}

.filter-button-toggle{
  background: none;
  height: 35px;
  width: 130px;
  text-align: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  color: #000;
  border: 0.125em solid var(--accent-color);
  border-radius: 6px;

  &:hover {
    box-shadow: var(--accent-color) 0 5px 10px;
    transform: translateY(-2px);
  }
}

.div-container-buttons{
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 768px){
    width: 300px;
  }
}

.button-categories{
  background: none;
  border: 2px solid var(--accent-color);
  background-color: var(--neutral-color);
  border-radius: 10px;
  width: auto;
  height: 30px;
  margin: 8px;
  padding: 3px 8px 10px 8px;
  min-height: 18px;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  position: relative;
  z-index: 2;
  text-align: center;

  &:hover {
    transform: scale(1.1);
  }
}

