.pagination {
    display: flex;
    width: 100%;
    gap: 12px;
    margin: 30px 0px 15px 0px;
    position: relative;
    justify-content: center;
    align-items: center;
    
    .span-go-to-start-final{
      cursor: pointer;
      font-size: 18px;
      color: #000;
    }
    
    .span-go-to-start-final:hover{
      text-decoration: underline;
    }

    .p {
      text-decoration: underline;
      font-weight: 800;
    }
}