.div-sidebar-container{
  @media (max-width: 800px){
    flex-direction: column;
  }
}

.right-section{
  min-height: 100vh;
  margin-left: 220px;
  display: flex;
  width: 80%;
}

.Display-business{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}


@media screen and (max-width: 900px){
  .right-section{
    margin-left: 85px;
  }
}