.div-sidebar-container {
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.right-section {
  min-height: 100vh;
  margin-left: 220px;
  display: flex;
  width: calc(100vw - 220px);
}

.Display-business {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .right-section {
    width: calc(100vw - 85px);
    margin-left: 85px;
  }
}

.report-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  right: 1rem;
  top: 1rem;
  .form {
    position: absolute;
    right: 0;
  }
  & p {
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
