.div-sidebar-container {
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.right-section {
  min-height: 100vh;
  margin-left: 220px;
  display: flex;
  width: calc(100vw - 220px);
}

.Display-business {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .right-section {
    width: calc(100vw - 85px);
    margin-left: 85px;
  }
}

.report-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin-left: 85px;
  background: white;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  @media (max-width: 1400px) {
    margin-left: 15px;
    margin-right: 50px;
  }

  @media (max-width: 880px) {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    align-items: center;
    max-width: 400px;
  }
  @media (max-width: 400px) {
    margin-right: 40px;
    margin-left: 10px;
  }
  .image {
    object-fit: contain;
    width: 50%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    @media (max-width: 880px) {
      width: 100%;
      height: 50%;
    }
  }
  .report {
    width: 50%;
    background-color: white;
    border-radius: 0 10px 10px 0;
    @media (max-width: 880px) {
      width: 100%;
      height: 50%;
    }
  }
}
