.cardsSection {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  @media (max-width: 633px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
