.div-container-about{
  width: 100%;
  height: fit-content;
  background-color: var(--primary-color);
  margin-top: -25px;
} 

.get-to-know-us{
  display: flex;
  justify-content: center;
  margin: 15px;
  font-size: 30px;
  padding: 25px;
  color: var(--secondary-color);
}

.card-container{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 justify-items: center;
 align-items: center;

 @media (min-width: 1600px) {
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
 }
}

.card-about {
  position: relative;
  max-width: 400px;
  height: 460px;
  margin: 15px;
  padding: 2rem 1.5rem;
  transition: box-shadow 2000ms ease, transform .8s ease;
  -webkit-box-shadow: 7px 7px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.329);
  border-radius: 12px;
  border: dotted 2px rgba(0, 0, 0, 0.329);
 }
 
 .card-about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 /*Image*/
 .card-avatar {
  --size: 150px;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.555);
  margin-top: 1vh;

  
 }

  /*Text*/
  .card-about-title {
    color: var(--neutral-color);
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;

    @media (max-width: 1250px){ 
      font-size: 1.2em;
      line-height: 1.8rem;
    }
  }
   .card-about-subtitle {
    color: var(--accent-color); 
    font-size: 0.8em;

    @media (max-width: 1250px){ 
      font-size: 0.6em;
    }
   }
   
 
 /*Card desc*/

 .card-about-description{
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  margin-left: 15px;
  margin-top: 2px;
  height: 80px;
  color: var(--neutral-color);
  opacity: .6;

  @media (max-width: 1250px){ 
    font-size: 15px;
  }
 }
 
 /*Card footer*/
 .card-about-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
 }

 .card-social__item {
  list-style: none;
 }
 
 .card-social__item svg {
  display: block;
  height: 50px;
  width: 60px;
  margin-top: -5px;
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
  transition: 350ms;
 }
 .card-social__item svg:hover{
   box-shadow: 0px 0px 60px 0 var(--accent-color);
   border-radius: 80px;
   background-color: rgba(127, 255, 212, 0.281);
 }
 

 /*Hover*/
 .card-about:hover .card-about-info {
  transform: translateY(-5%);
 }
 
 .card-about:hover .card-about-social {
  transform: translateY(100%);
  opacity: 1;
 }
 

 .card-avatar:hover {
  transform: scale(1.1);
 }

 .iconos{
   display: flex;
   justify-content: center;
   margin-top: 5vh;
   gap: 120px;
 }
 .border{
  border-bottom:  4px solid var(--secondary-color);
  padding: 5px;
  padding-bottom: 10px;
  margin-top: -10px;
  box-shadow: 0 0 25px 0 var(--secondary-color);
  border-radius: 12px;
 }