.div-forms {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}

.div-forms-container{
  width: 1000px;
  min-height: 600px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  transition: all .3s ease;

  @media (max-width: 1000px) {
    min-width: 800px;
  }

  @media (max-width: 800px) {
    min-width: 600px;
    flex-direction: column;
  }

  @media (max-width: 600px) {
    min-width: 400px;
  }

  @media (max-width: 400px) {
    min-width: 200px;
    flex-direction: column;
  }
}

.image-h3-container{
  flex-direction: column;
  background-color: #FFF;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;

  @media (max-width: 800px) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 400px;
  }
}

.image-form-user {
  width: 500px;
  height: 500px;

  @media (max-width: 1000px) {
    width: 400px;
  }

  @media (max-width: 800px) {
    height: 300px;
  }

  @media (max-width: 400px) {
    width: 350px;
  }
}

.h3-form-user {
  padding: 20px;
}


.right {
  min-height: 600px;
  background-color: #6e66ff;
  flex: 50;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

  @media (max-width: 800px){ 
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.forms {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 15px;
}

.text-log {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 340px;
  margin-left: -60px;

  @media (max-width: 400px) {
    margin-left: -25px;
  }
}


.h1 {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 120px;
}

.text {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: large;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}

.I {
  cursor: default;
  color: white;
  font-weight: 800;
}

.i-log {
  background-color: none;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: white;
  font-size: larger;
  padding: 7px 12px;

  @media (max-width: 400px) {
    width: 50px;
    height: 30px;
    font-size: 16px;
  }
}

.i-reg {
  font-size: larger;
  background-color: none;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: white;
  padding: 7px 12px;
}

.i-reg:disabled {
  background-color: #5effb1;
  color: black;
}

.i-log:disabled {
  background-color: #5effb1;
  color: black;
}

.text-log-adjusted {
  margin-bottom: 70px;
}

.left {
  background-color: transparent;
  min-width: 300px;
  max-width: 600px;
  background-color: white;
  position: relative;
}

