.all {
  justify-content: center;
  align-items: center;
  display: flex;
}

.content {
  margin-bottom: 150px;
  width: 70vw;
  min-width: 400px;
  height: 70vh;
  flex-direction: row;
  display: flex;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.left {
  background-color: #3e38b6;
  flex: 50;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  min-height: 620px;
}

.right {
  background-color: #6e66ff;
  flex: 50;
  min-width: 400px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 620px;
}

.log-reg {
  position: absolute;
  width: 90px;
  top: 0;
  right: 0;
  padding-right: 100px;
}

.forms {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 40px;
}

.text-log {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 340px;
  margin-left: -60px;
}

.left {
  background-image: url('../../assets/Features/logImg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  min-width: 300px;
  max-width: 600px;
  background-color: white;
  position: relative;
}

.h1 {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 120px;
}

.text {
  display: flex;
  justify-content: center;
  font-size: large;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}

.I {
  cursor: default;
  color: white;
  font-size: larger;
}

.i-log {
  background-color: none;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: white;
  font-size: larger;
  padding: 7px 12px;
}

.i-reg {
  font-size: larger;
  background-color: none;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: white;
  padding: 7px 12px;
}

.i-reg:disabled {
  background-color: #5effb1;
  color: black;
}

.i-log:disabled {
  background-color: #5effb1;
  color: black;
}

.text-log-adjusted {
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .left {
    display: none;
  }

  .content {
    margin-top: 10px;
  }
}
