.table-container{
  height: 100%;
  overflow: hidden;
  margin-left: 220px;
  
  max-width: calc(100% - 220px);
  @media (max-width: 900px) {
    margin-left: 80px;
  max-width: calc(100% - 80px);
  }
}

.table-head{
  width: auto;
  height: 80px;
  text-align: center;
  margin-right: 5px;
}

.table-cell{ 
  min-width: 50px;
  width: 0px;
}

.table-cell p{
  text-align: center;
  color: #000;
  font-size: 15px;
}


.table-pagination{
  display: flex;
  padding-left: 200px;
}
.table-p{
  background-color: var(--accent-color);
  border-radius: 20px;
  color:#ffffff ;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 15px;
  border: 5px 5px#cafede;
}
@media (max-width: 900px) {
  .table-pagination{
    padding-left: 0px;
  }

  

  .table-head{
    height: 10px;
  }

  .table-container{
    margin-top: 10px;
  }
}
