.container{
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    align-self: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    @media (max-width: 940px) {
        flex-direction: column;
        width: 250px;
        height: 300px;
        justify-content: center;
    }
}

.title {
    padding: 0;
    font-size: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    gap: 15px;
    
    
}

.booking-container {
    display: flex;
    justify-content: center;
    align-self: center;
   
    
}

.button {
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    
}
